body {
  color: var(--label);
}

.tip-calc {
  background-color: var(--calculator--background);
  margin-top: 9rem; /*adjust this after adding logo images*/
  padding: 32px;
  border-radius: 17px 17px 0 0;
}

.tip-calc__logo {
  position: absolute;
  top: 50px;
}

.tip-calc-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tip-calc__label {
  display: inline-block;
  margin-bottom: 10px;
}

.selectTip {
  margin-top: 20px;
}

@media screen and (min-width: 820px) {
  .tip-calc-wrapper {
    height: 100vh;
  }
}

@media screen and (min-width: 1025px) {
  
  
  .tip-calc {
    display: flex;
    column-gap: 36px;
    padding: 0 30px 0 34px;
    border-radius: 17px;
  }

  .tip-calc__form {
    width: 350px;
    margin: 32px 0 40px 0;
  }

  .tip-calc__label {
    margin-bottom: 6px;
  }

  
}

@media screen and (min-width: 1280px) {
  .tip-calc {
    margin-top: 16rem;
  }
  .tip-calc__logo {
    top: 120px;
  }
}