.bill-details__input {
  background-color: var(--input--background);
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-green);
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 16px;
}

.tip-calc__icon-dollar {
  background-image: url("../images/icon-dollar.svg");
  background-size: 12px;
}

.tip-calc__input-container {
  position: relative;
}

.tip-calc__icon-person {
  background-image: url("../images/icon-person.svg");
  background-size: 14px;
}

.tip-calc__input-error {
  color: var(--error-message);
  position: absolute;
  top: -30px;
  right: 5px;
}

.tip-calc__input-container .tip-calc__input-errorOutline {
  outline-color: var(--error-message);
}
