.tip-calc__button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.tip-calc__button {
  background-color: var(--dark-green);
  width: calc(50% - 10px);
  border: none;
  padding: 8px;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--calculator--background);
  border-radius: 5px;
}

.tip-calc__customTip-button {
  box-sizing: border-box;
  background-color: var(--input--background);
  color: var(--dark-green);
}

.tip-calc__reset-button {
  background-color: var(--dollar-amount);
  width: 100%;
  padding: 8px;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: var(--dark-green);
  margin-top: 24px;
}

.tip-calc__reset-button:disabled {
  background-color: var(--empty-state);
  cursor: not-allowed;
  opacity: 0.6;
}

.tip-calc__reset-button:disabled:active {
  background-color: var(--empty-state);
  cursor: not-allowed;
  opacity: 0.6;
}

.clicked {
  background-color: var(--dollar-amount);
  color: var(--dark-green);
}

@media screen and (min-width: 1025px) {
  .tip-calc__button-container .tip-calc__button {
    width: calc(33.33% - 8px);
  }

  .tip-calc__reset-button {
    margin-top: 110px;
  }
}
