.tip_calc__footer {
    text-align: center;
    margin-top: auto;
    font-size: 0.875rem;
    padding: 10px;
    font-weight: initial;
}

.tip_calc__footer-link {
    text-decoration: none;
    color: var(--label);
}

.tip_calc__footer-link:visited, .coded-by:visited {
    color: var(--label);
}

.coded-by {
    color: var(--dark-green) !important;
    font-weight: 600;
}

@media (max-width: 280px) {
    .tip_calc__footer {
        font-size: 0.75rem;
    }
 }